<ng-view></ng-view>

<div>
    @using (Html.BeginForm())
    {
        @Html.TextBox("Name");
        @Html.Password("Password");
        <input type="submit" value="Sign In">
        <br />
        @Html.TextBox("Subreddit");
        @Html.Label("Subreddit");
    <input type="submit" value="Sign In">

        <br />
        
    }
</div>